@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --color-primary: #D81C23;
  --bg-page: #FFFFFF;
  --bg-alt: #F5F5F5;
  --font-base: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-base);
}

body {
  background: var(--bg-page);
}